.btn.active {
    display: none;
}

.message {
    margin: 0px;
    padding-top: 10px;
    color: #3073ac;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#valTable {
    width: 100%;
    text-align: center;
    color: black;
    table-layout: fixed;
    font-size: min(2.5vw, 1rem);
}

#valTable th,
td {
    border: 1px solid black;
}

#valTable th {
    background-color: lightgrey;
    border: 1px solid black;
}

input[name="start_btn"]{
  color: #FFFFFF;
  background-color: #1CC88A;
  border-radius: 6px;
  border: none;
  padding: 12.5px 28px;
}

input[name="stop_btn"]{
  color: #FFFFFF;
  background-color: #E74A3B;
  border-radius: 6px;
  border: none;
  padding: 12.5px 28px;
}

table{
  width: 100%;
  text-align: center;
  color : black;
}

table, th, tr{
  border : 1px solid black;
}

th{
  background-color : lightgrey;
}
