.btn.active {
  display: none;
}

.message {
  margin: 0px;
  padding-top: 10px;
  color: #3073ac;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#valTable {
  width: 100%;
  text-align: center;
  color: black;
  table-layout: fixed;
  font-size: min(2vw, 1rem);
}

#valTable th,
td {
  border: 1px solid black;
}

#valTable th {
  background-color: lightgrey;
  border: 1px solid black;
}

input[type="submit"], input[type="button"] {
  color: #FFFFFF;
  border-radius: 6px;
  border: none;
  padding: 1rem 2rem;
  width: 33%;
  max-width: 100px;
}

input[name="start_btn"] {
  background-color: #1CC88A;
}

input[name="stop_btn"] {
  background-color: #E74A3B;
}

table {
  width: 100%;
  text-align: center;
  color: black;
}

table, th, tr {
  border: 1px solid black;
}

th {
  background-color: lightgrey;
}

.top_btn {
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  input[type="submit"], input[type="button"] {
    margin-right: 2rem;
  }

  .top_btn {
    justify-content: flex-start;
  }
}
